# https://github.com/GoogleCloudPlatform/gke-bazel-demo/blob/master/.bazelrc

# Don't create bazel-* symlinks in the WORKSPACE directory.
# Instead, set a prefix and put it in .gitignore
build --symlink_prefix=target-bzl/

test --test_output=errors

# Basic build settings
build --jobs 512

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_header=x-buildbuddy-api-key=4Ml6AhYICvGtZ3XhqafP
