# `.bazelrc` is a Bazel configuration file.
# https://bazel.build/docs/best-practices#bazelrc-file

# Required on windows
common --enable_platform_specific_config
startup --windows_enable_symlinks
build:windows --enable_runfiles

# Don't create bazel-* symlinks in the WORKSPACE directory.
# Instead, set a prefix and put it in .gitignore
build --symlink_prefix=target-bzl/

# Reduce test output to just error cases
test --test_output=errors

# Disable MODULE for the time being.
# Migrate all dependencies from WORKSPACE to MODULE.bazel
# https://github.com/bazelbuild/rules_rust/issues/2181
common --noenable_bzlmod

# Enable misc. performance optimizations.
# https://www.buildbuddy.io/blog/debugging-slow-bazel-builds/
# https://www.buildbuddy.io/blog/how-bazel-7-0-makes-your-builds-faster/
common --experimental_remote_cache_async
common --remote_build_event_upload=minimal
common --nolegacy_important_outputs
common --reuse_sandbox_directories
common --experimental_remote_cache_compression
common --noexperimental_merged_skyframe_analysis_execution
# For a more detailed timing profile
common --noslim_profile
common --experimental_profile_include_target_label
common --experimental_profile_include_primary_output

# Write build outputs in a platform-specific directory,
# avoid outputs being wiped and rewritten when switching between platforms.
common --experimental_platform_in_output_dir

# Enable rustfmt for all targets in the workspace
build:rustfmt --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build:rustfmt --output_groups=+rustfmt_checks

# Enable clippy for all targets in the workspace
build:clippy --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build:clippy --output_groups=+clippy_checks

# Enable remote cache for local builds
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=600
build --remote_header=x-buildbuddy-api-key=4Ml6AhYICvGtZ3XhqafP

# Flags shared across remote configs
common:remote-shared --jobs=100
common:remote-shared --remote_upload_local_results
common:remote-shared --remote_timeout=600
common:remote-shared --remote_download_minimal
common:remote-shared --host_cpu=x86_64
common:remote-shared --cpu=x86_64
common:remote-shared --verbose_failures
common:remote-shared --crosstool_top=@buildbuddy_toolchain//:cc_toolchain_suite
common:remote-shared --host_platform=@buildbuddy_toolchain//:platform_linux
common:remote-shared --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
common:remote-shared --remote_cache=grpcs://remote.buildbuddy.io
common:remote-shared --remote_header=x-buildbuddy-api-key=4Ml6AhYICvGtZ3XhqafP

# Build with --config=remote to enable Remote Build Execution (RBE)
common:remote --config=remote-shared
common:remote --remote_executor=remote.buildbuddy.io

# This isn't currently the default in Bazel, but we enable it to test we'll be ready if/when it flips.
# build --incompatible_disallow_empty_glob